* {
  color: white;
  background-color: rgb(54, 9, 97);
  font-family: "Open Sans", sans-serif;
  font-family: "Shantell Sans", cursive;
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
